<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>

      <main class="interactive">

        <h1>On shaky ground</h1>

        <p class="chatter">
          Search below for data on every public-school building in the state, provided by the Office of Superintendent of Public Instruction. The data include: a) an estimate of how hard the ground can shake called peak ground acceleration, or PGA, expressed as a fraction of gravity's acceleration; b) the type of ground a building rests on; and c) the year each building was built. These data offer only a broad view of earthquake hazards that schools face and do not indicate whether buildings have been seismically retrofitted.

        <nav class="filters">
          <input class="search" placeholder="Search">
          <div class="warning">More than 50 results found, refine your search</div>
          <div class="key">
            <label><img src="./assets/portable.svg"> Portable building</label>
            <label><img src="./assets/permanent.svg"> Permanent building</label>
            <label><div class="building oldest"></div> Built before 1975</label>
            <label><div class="building old"></div> Built before 1994</label>
          </div>
        </nav>
        
        <table class="schools">
          <thead>
            <tr>
              <th class="district">District
              <th class="school">School
              <th class="pga">PGA
              <th class="soil">Soil type
              <th class="buildings">Buildings
          <tbody class="render-here"></tbody>
        </table>

        <div class="source">
          Source: Office of the Superintendent of Public Instruction. The Seattle Times has not edited the OSPI data, which contains some buildings that have been renovated, rebuilt or closed. Data on renovations is unreliable and has been omitted. Some data are missing for about 200 schools.
        </div>

        <div class="credit">
          Thomas Wilburn / The Seattle Times
        </div>
      </main>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
